### Build ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Spring Boot ###
# Local configuration files (API keys, DB passwords, etc.)
src/main/resources/application.properties
src/main/resources/application-*.properties

# Log files
*.log

### Docker ###
# Ignore Docker-related temp files and volumes
mysql_data/
docker/mysql/data/
docker/mysql/logs/
docker/mysql/conf.d/
.docker/

# Environment variables file
.env

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS files ###
.DS_Store
Thumbs.db
